# Hard-code a authorized keys file so that Vagrant can find it
AuthorizedKeysFile	.ssh/authorized_keys

# override default of no subsystems
Subsystem	sftp	/usr/local/libexec/sftp-server

# Turn this off so that we can use the custom authorized key thing below
StrictModes no

# The docker user has a specific authorized keys file
Match User docker
    AuthorizedKeysFile	/var/lib/boot2docker/ssh/docker_authorized_keys
